[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/wellingtonBetio
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wellingtonBetio
	label-Verified = -1..+1 group user/wellingtonBetio
	push = group user/wellingtonBetio
	read = group user/wellingtonBetio
	rebase = group user/wellingtonBetio
	removeReviewer = group user/wellingtonBetio
	submit = group user/wellingtonBetio
[access "refs/heads/*"]
	create = group user/wellingtonBetio
	push = +force group user/wellingtonBetio
	pushMerge = group user/wellingtonBetio
	read = group user/wellingtonBetio
[access "refs/tags/*"]
	push = group user/wellingtonBetio
	push = +force group user/wellingtonBetio
